@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant:wght@300&family=Great+Vibes&family=Homemade+Apple&family=Playfair+Display+SC:ital,wght@1,900&family=Rubik&family=Rubik+Bubbles&family=Rubik+Gemstones&family=Rubik+Vinyl&family=Staatliches&display=swap');

.Logo {
    height: 20vmin;
    width: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    font-size: 4vmin;
    font-family: 'Homemade Apple', cursive;
    transform: rotate(-30deg);
    line-height: 1.9em;
}